@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Best Garage</h1>
    <hr />
    <a><img height="270" width="450" src="~/images/parkhouse.jpg"/></a>
    <h4>Your friendly parking spot right in the centre of things</h4>
    <br /><hr />
    <div id="infotext">
        <br /><p>
            Best Garage offers parking around the clock <b>free of charge</b>.<br />
            All you have to do is register with a user name and your e-mail, then you can go ahead and check in your car.<br />
            If you need more information or have any questions, our support staff are available at <br />
            <i>support@bestgarage.best</i> and 0067800 56893456633928.<br />
                                                               <b>WELCOME!</b>
        </p>

    </div>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
