@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Best Garage</h1>
    <hr />
    <a><img height="270" width="450" src="~/images/parkhouse.jpg" /></a>
    <h4>Your friendly parking spot right in the centre of things</h4>
    <br /><hr />
    <div id="infotext">
        <br /><p>
    <br />
    Best Garage offers parking around the clock <b>free of charge</b>. All you have to do is register with a user name<br />
    and your e-mail, then you can go ahead and check in your car. If you need more information or have any questions,<br />
    our support staff are available at <i>support@bestgarage.se</i> and 0771-969006<br />
</p>

    </div>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
